table {
    background-color: rgba(0, 0, 0, 0.348);
    border-radius: 5px;
    padding: 5px;
}

th {
    padding: 5px;
    color: #646cff;
}

img {
    padding-top: 5px;
    padding-left: 2px;
    padding-right: 2px;
}

a.img1 {
    padding-top: 5px;
    transition: background-color .5s;
    border-radius: 5px;
}

a.img1:hover {
    background-color: rgba(42, 104, 213, 0.392);
}
a.img2 {
    padding-top: 5px;
    transition: background-color .5s;
    border-radius: 5px;
}

a.img2:hover {
    background-color: rgba(213, 42, 42, 0.392);
}