.hide-modal {
    display: none !important;
}


.modal-container {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-dialog {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 5px 15px rgba(255, 255, 255, 0.2);
}

form {
    display: flex;
    flex-direction: column;
    align-items: start;
}

input {
    margin-bottom: 10px;
    border: 2px solid #646cff;
    border-radius: 5px;
    padding: 5px;
    background-color: white;
    color: black;
}

:focus {
    outline: 1px solid #646cff;
}

span {
    font-weight: bold;
    color: #646cff;
    padding-bottom: 5px;
}

label {
    color: #646cff;
    font-size: small;
    font-weight: bold;
}

input[type="checkbox"] {
    position: relative;
    top: 0.19em;
}

.savef {
    position: relative;
    right: 10px;
    width: 100%;
    border-radius: 5px;
    border: 2px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 0.8em;
    font-weight: 500;
    font-family: inherit;
    background-color: white;
    cursor: pointer;
    color: #646cff;
    border: 2px solid #646cff;
    transition: border-color 0.50s;
    transition: color 0.50s;
}

.savef:hover {
    border-color: #47D58C;
    color: #47D58C;
}
.savef:focus,
.savef:focus-visible {
    outline: 4px #47D58C;
}